$themes: (
  light: (
    textColor: #000,
    bg: white,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    iconColor: rgb(134, 137, 148),
    serachSpan: black,
    textOnFocus: purple,
    textOnHover: rgb(79, 0, 113),
    borderBottom:rgb(236, 91, 38),
    textBotton:#FAF0E6,
    bgBotton:#5C5470,
  ),
  dark: (
    textColor: whitesmoke,
    bg: rgb(18, 35, 39),
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    iconColor: rgb(141, 157, 221),
    serachSpan:white,
    textOnFocus: rgb(255, 255, 255),
    borderBottom:rgb(100, 216, 208),
    textOnHover: rgb(170, 187, 226),
    textBotton: #352F44,
    bgBotton:#FFF5E0,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

