.post{
  margin: 20px 0;
  background-color: rgb(195, 193, 190);
  width: 100%;
  padding: 10px;

  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user{
      img{}
      span{}
    }
    .time{
      p{

      }
    }
  }
  .content{
    p{

    }
    img{

    }
    span{

    }
  }
  hr{
    
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      button{
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .right{
      button{
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}