.post{
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user{
      img{}
      span{}
    }
    .time{
      p{

      }
    }
  }
  .content{
    p{

    }
    img{

    }
    span{

    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      button{}
    }
    .right{
      button{}
    }
  }
}