@import '../../style.scss';
.left-bar{
  @include themify($themes) {
  flex: 2;
  position: sticky;
  top: 8vh;
  height: calc(100vh - 8vh);
  overflow: scroll;
  background-color: themed('bg');
  &::-webkit-scrollbar{
    display: none;
  }
  .container{
    padding: 20px;
    hr{
      margin: 20px 0;
      border: none;
      height: 0.7px;
      background-color: lightgray;
    }
    .menu{
      display: flex;
      flex-direction: column;
      gap: 15px;
      span{
        font-size: 12px;
        color: themed('textColor');
      }
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: ease-in .5s;
        &:hover span{
          font-size: 19px;
          font-weight: 800;
        }
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .verify{
          width: 20px;
          height: 20px;
        }
        span{
          font-size: 18px;
          font-weight: 700;
          color: themed('textColor');
        }
      }
      .item{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: ease-in .4s;
        &:hover{
          background-color: rgb(98, 110, 110);
          border-radius: 5px;
        }
        img{
          width: 25px;
          object-fit: contain;
          padding: 3px;
        }
        span{
          font-size: 15px;
          color: themed('textColor');
        }
      }

    }
    .footer{
      
      span{
        font-style: italic;
        color: themed('textColor');
      }
      p{
        font-style: italic;
        color: themed('textColor');
      }
    }
  }
  }
}