.left-bar{
  flex: 2;
  position: sticky;
  top: 8vh;
  height: calc(100vh - 5vh);
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
  .container{
    padding: 20px;
    hr{
      margin: 20px 0;
      border: none;
      height: 0.7px;
      background-color: lightgray;
    }
    .menu{
      display: flex;
      flex-direction: column;
      gap: 15px;
      span{
        font-size: 12px;
      }
      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span{
          font-size: 18px;
        }
      }
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 30px;
        }
        span{
          font-size: 15px;
        }
      }

    }
    .footer{
      span{
        font-style: italic;
      }
      p{
        font-style: italic;
      }
    }
  }
}