.nav-bar{
  display: flex;
  align-items: center;
  .left{
    display: flex;
    align-items: center;
    span{

    }
    .search{
      display: flex;
      align-items: center;
      input{

      }
    }
  }

  .right{
    display: flex;
    align-items: center;
    .user{

      img{

      }
    }
  }
}