.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 5vh;
  border-bottom: solid 1px lightgray;
  position: sticky;
  top: 0;
  background-color: white;
  .left{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
    span{
      font-weight: bold;
      font-size: 20px;
      color: darkblue;
      cursor: pointer;
    }
    .search{
      display: flex;
      align-items: center;
      gap: 10px;
      border: solid 1px lightgray;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      input{
        border: none;
        width: 500px;
      }
    }
  }

  .right{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
    .user{
      cursor: pointer;
      img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
      } 
    }
    .sub-menu-wrap{
      position: absolute;
      top: 10vh;
      right: 5px;
      width: 200px;
      .sub-menu{
        background-color: aliceblue;
        padding: 20px;
        margin: .5px 5px;
        border-radius: 10px;
        .user-info{
          display: flex;
          align-items: center;
          img{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 15px;
          }
          span{
            font-weight: 800;
            font-size: large;
          }
        }
        hr{
          border: 0;
          height: 1px;
          width: 100%;
          background-color: rgb(7, 89, 116);
          margin: 5px 2px;
        }
        .menu{
          
          span{
            display: flex;
            align-items: center;
            .icon{
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}