@import '../../style.scss';
.share-post{
  @include themify($themes) {
  padding: 10px;
  background-color: themed('bg');
  border-radius: 10px;
  width: 100%;
  .new-post{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    input{
      width: 80%;
      padding: 10px;
      background-color: transparent;
      border: none;
    }
    input[type="text"] {
      color: themed("iconColor");
      width: 100%;
      padding: 10px 20px;
      font-size: 16px;
      letter-spacing: 1px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      border: none;
      outline: none;
    }
  }
  hr{
    margin: 10px 0;
    border: none;
    height: 0.7px;
    background-color: lightgray;
  }
  .actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      margin-left: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover .icon{
          color: themed('textOnFocus');
        }
        .icon{
          color: themed('iconColor');
        }
      }
    }
    .right{
      margin-right: 20px;
      button{
        cursor: pointer;
        background-color: themed('bgBotton');
        border: none;
        color: themed('textBotton');
        padding: 7px 13px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
      }
    }
  }
}
}