.share-post{
  padding: 20px;
  background-color: aliceblue;
  margin-top: 10px;
  border-radius: 10px;
  .top{
    display: flex;
    align-items: center;
    .user{
      padding: 20px;
      margin-right: 20px;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
  
      }
    }
    .shared-content{
      
      input{
        width: 700px;
        height: 7vh;
        background-color: transparent;
        border: none;
        &:focus{
          border: none;
        }
      }
    }
  }
  hr{
    margin: 20px 0;
    border: none;
    height: 0.7px;
    background-color: lightgray;
  }
 
    .actions{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        display: flex;
        align-items: center;
        gap: 20px;
        button{
          cursor: pointer;
          background-color: transparent;
          border: none;
          .icon{
            width: 22px;
            height: 22px;
          }
        }
      }
      .right{
        button{
          cursor: pointer;
          background-color: transparent;
          border: none;
          span{
    
          }
        }
      }
    }
  
}